@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    font-family: 'Ubuntu', sans-serif !important;
    background-color: rgb(224, 255, 252) !important;
}

.cusomer-img {
    width: 150px;
    border-radius: 50%;
}